@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fondo: rgb(251, 246, 250);
    --principal: #FC0E69;
    --principal_2: #27427F;
    --nav: #b3b3b3;
    --destacar: #4e8f88;
}

* {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0; 
    vertical-align: baseline;
}

/*--------ESTILOS GENERALES--------*/

.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}


body {
    background-color: var(--fondo);
    position: relative;
    min-height: 100vh;
    padding-bottom: 210px;
}

nav {
    float: right;
    margin-top: 45px;
    
}

header li {
    display: inline;
    float: left;
    padding: 0 10px 0 10px;
    padding-bottom: 10%;
}

header a {
    color: var(--secundario);
    padding: 40px 20px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover{
    text-decoration: underline;
    text-decoration-color: var(--destacar);
    cursor: pointer;
    color: var(--destacar)
}  

header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: var(--nav);
    border-bottom: #b8b8b8 solid 1px;
}

nav ul {
    list-style: none; 
    display: flex; 
}

nav li {
    margin-right: 10px; 
}


#logo img{
    float: left;
    width: 290px;
    height: 70px;
    margin-top: 15px;
    margin-left: 0;
}

/*------------TERMINA ESTILOS GENERALES-------------*/

.titulo h1{
    color: var(--principal);
    font-size: 85px;
    text-align: center;
    letter-spacing: 2px;
    margin: 55px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-shadow: 2px 2px 4px rgba(109, 109, 109, 0.5);
    color: #FFF; /* Color del texto */
    text-shadow: 2px 2px 0 var(--principal), 4px 4px 0 var(--principal), 3px 3px 0 #000; /* Sombras */
    -webkit-text-stroke: 0.5px #000; /* Borde en relieve para navegadores WebKit */
    font-weight: bold;
    color: var(--principal);
}

#subtitulo {
    text-align: left;
    margin-left: 50px;
    color: var(--principal_2);
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.info-eventos{
    display: flex;
    justify-content: center;
    margin: 40px;
    justify-content: space-around;
}

.info-eventos img{
    height: 230px;
    width: 250px;
}

.info-eventos h5{
    font-family: 'Inter', sans-serif;
    margin: 10px;
    font-size: 15px;
    color: var(--principal);
    font-weight: 600;
}
.info-eventos h3{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: 10px;
    font-size: 20px;
    color: var(--principal_2);
    font-weight: 900;
}

.container{
    margin: auto;
    width: 80%;
    padding: 20px;
    background-color: #27427F;
}
  
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
ul.slider{
    position: relative;
    width: 100%;
    height: 450px;
}
  
ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}
  
ul.slider li img{
    width: 100%;
    height: 450px;
}
  
ul.slider li:first-child {
    opacity: 1; 
}
  
.menu{
    text-align: center;
    margin: 20px;
}
  
.menu li{
    display: inline-block;
    text-align: center;
}
  
.menu li a{
    display: inline-block;
    color: var(--principal_2);
    text-decoration: none;
    background-color: antiquewhite;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

.menu li a:hover{
    background-color: #FC0E69;
}


.line{
    width: 200px; /* Ajusta el ancho según tus necesidades */
    border-top: 1px solid #000;
}

.destacar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-fondo{
    height: 300px;
    width: 1100px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boton {
    position: absolute; /* Posicionamiento absoluto para el botón */
    top: 75%; /* Alinea el botón en el centro verticalmente */
    left: 10%; /* Alinea el botón en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Centra el botón correctamente */
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


/*----------ESTILOS GENERALES FOOOTER--------------*/
footer{
    text-align: center;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--nav);
    display: flex;
}

footer div{
    justify-content: space-around;
    margin-bottom: 20px;
}


footer{
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 15px;
    margin-left: 10px;
}
.content p{
    font-family: 'Inter', sans-serif;
}
.opiniones{
    padding-bottom: 40px;
}

#logo-footer img{
    float: left;
    width: 190px;
    height: 50px;
    margin-top: 10px;
}

.redes{
    display: flex; 
    flex-direction: column;
    margin-top: 30px;
}

.redes img{
    height: 40px;
    width: 40px;
    padding: 3px;
}



/*TERMINA ESTILOS GENERALES FOOOTER*/


@media only screen and ( max-width: 780px ) {
    header{
     padding-bottom: 20px;
    }
    nav ul li a{
        font-size: 13px;
        margin-right: 10px;
    }
    #logo{
        height: 70px;
        width: 50px;
    }
    #logo img{
        height: 50px;
        width: 260px;
    }
    .contenedor{
        width: 100%;
    }
    header li{
     padding: 0px 0px 0px 0px;
    }
    header a{
     padding: 5px 5px;
    }
    .titulo h1{
        font-size: 45px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .container {
        width: 91%; /* Cambiar el ancho para ajustarse al tamaño máximo */
    }
    ul.slider {
        max-height: 200px; /* Cambiar la altura máxima para la imagen del slider */
    }
    ul.slider li img {
        max-height: 200px; /*s Cambiar la altura máxima para la imagen del slider */
        object-fit:contain;
    }
    .info-eventos{
        flex-direction: column;
        text-align: center;

    }
    .info-eventos h3{
        margin: 0;
        padding-bottom: 60px;
        font-size: 20px;
    }

    .line{
        width: 0;
        padding: 0;
        margin: 0;
    }
    .redes{
        padding: 15px;
    }

}